* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dashboard {
    width: 850px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-bar input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.top-bar button {
    padding: 10px 16px;
    margin-left: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: cyan;
    color: black;
}

.main-card {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
}

.left h1 {
    font-size: 80px;
}

.desc {
    font-size: 22px;
    margin-top: 10px;
}

.feel {
    margin-top: 8px;
    opacity: 0.7;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    margin-bottom: 15px;
    font-size: 18px;
}

.error {
    color: #ff6b6b;
    margin-bottom: 10px;
}